.highscores {
    color: white;
    margin: 20px;
    width: 70%;
    table {
      margin-top: 20px;
      width: 100%;
      border-collapse: collapse;
      th {
        border: 1px solid #ddd;
        background-color: #1c7ab8;;
        font-weight: bold;
        text-align: center;
        padding: 10px;
        &:first-child {
          width: 20px;
        }
      }
      td {
        border: 1px solid #ddd;
        padding: 10px;
        &:first-child {
          font-weight: bold;
        }
      }
      tr:nth-child(even) {
        background-color: #1c7ab8;;
      }
    }
  }
  .title{
    text-align: center;
  }
  