.input{
    width: 500px;
    height: 100px;
    color: azure;
    font-size: 50px;
    background-color: #0c0734;
    border-color: transparent;
}
.inputContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
