.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 55px;
}
.playersContainer{
    display: grid;
    align-items: center;
    justify-content: center;
    color: azure;
    gap: 20px;
    font-size: 30px;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    column-gap: 30px;
    row-gap: 30px;
    padding-top: 40px;
}