.container{
    display: flex;
    flex-direction: column;
    font-family:cursive;
    margin-top: 150px;
    gap: 200px;
}
.header{
    font-size: 120px;
    font-weight: bold;
    color: azure;
    
}